Pods
.DS_Store
*.bundle
xcuserdata
LayerSample.xcworkspace/xcuserdata/*.xcuserdatad/
LayerSample.xcworkspace/xcshareddata/xcschemes/*.xcscheme
LayerSample.xcworkspace/xcshareddata/LayerSample.xccheckout
xcodebuild.log

