<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.layer.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.8-pre2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1415239649</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>0a0f48084316c34c98d99db32b6d9f9a93416892</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LYRBuildInformation</key>
	<dict>
		<key>LYRBuildBuilderEmail</key>
		<string>kcoleman731@gmail.com</string>
		<key>LYRBuildBuilderName</key>
		<string>Kevin Coleman</string>
		<key>LYRBuildLayerKitVersion</key>
		<dict>
			<key>LayerKit (0.9.8-pre2)</key>
			<array>
				<string>CocoaLumberjack (~&gt; 1.8.1)</string>
				<string>CocoaSPDY-Layer (~&gt; 20150126164828156)</string>
				<string>FMDB/standalone/FTS (= 2.4-20141216161347845)</string>
				<string>FMDBMigrationManager (~&gt; 1.3.0)</string>
				<string>GCNetworkReachability (~&gt; 1.3.2)</string>
				<string>layer-client-messaging-schema (= 20141110114425514.13-blocking)</string>
				<string>layer-thrift/0_9_x (= 0.69.0)</string>
				<string>LayerKit/Public (= 0.9.8-pre2)</string>
				<string>sqlite3 (= 3.8.7.4-1)</string>
				<string>TransitionKit (~&gt; 2.1.0)</string>
			</array>
		</dict>
		<key>LYRBuildShortSha</key>
		<string>08ecb3d</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location will only be shared in conversations that you choose.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>location-services</string>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
